html {
    height: 100%;
    font-family: 'Raleway', sans-serif;  
}

body {
	/* The image used */
    background-image: url("img/maroonbells.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #e3ebf7;
}

.row {
	background: rgba(93, 117, 153, 0.4);
	border: 2px solid black;
	text-align: center;
	margin-bottom: 0.25rem;
}

.top {
	margin-top: 3em;
}

.col {
	max-height: 8em;
	text-align: center;
}

h1 {
	font-size: 3em;
	display: inline-flex;
	line-height: 3em;
}
img {
	width: 100px;
	height: 100%;
	padding-bottom: 35px;
}

a {
	color: #e6e6e6;
}
a:hover {
	color: #e6e6e6;
	text-shadow: 1px 1px 8px #e6e6e6;
}
.middle {	
	font-size: 2em;
}

.bottom {	
	font-size: 4em;
}

.sm-view {
	display: none;
}

@media (max-width: 720px) {
	.top {
		margin-top: 1em;
	}
	h1 {
		display: none;
		height: 3em;
	}
	img {
		width: 100px;
		height: 100px;
		padding-bottom: 0;
	}
	.lg-view {
		display: none;
	}

	.md-view {
		display: none;
	}

	.sm-view {
		display: inline-block;
	}
}
@media (max-width: 1200px) and (min-width: 721px) {
	.top {
		margin-top: 3em;
	}
	.lg-view {
		display: none;
	}

	.md-view {
		display: inline-block;
	}

	.sm-view {
		diplay: none;
	}
}
@media (min-width: 1201px) {
	.lg-view {
		display: inline-block;
	}

	.md-view {
		display: none;
	}

	.sm-view {
		diplay: none;
	}
}

@media (min-height: 900px) and (min-width: 1201px){
	.top {
		margin-top: 20em;
	}
}



